{%- assign button_type = block.settings.button_type | default: 'dismiss' -%}
{%- assign button_text = block.settings.button_text | default: 'Button' -%}
{%- assign button_color = block.settings.button_color | default: '#000000' -%}
{%- assign text_color = block.settings.text_color | default: '#FFFFFF' -%}

{% if button_type == 'confirm' %}
  <a
    class='gdr-modal__button gdr-modal__button--confirm {{ block.settings.font_style }}'
    href='{{ block.settings.button_link }}'
    style='--button-bg: {{ button_color }}; --button-text: {{ text_color }}'
    {{ block.shopify_attributes }}
  >
    {{- button_text -}}
  </a>
{% else %}
  <button
    class='gdr-modal__button gdr-modal__button--dismiss {{ block.settings.font_style }}'
    type='button'
    data-modal-close
    style='--button-bg: {{ button_color }}; --button-text: {{ text_color }}'
    {{ block.shopify_attributes }}
  >
    {{- button_text -}}
  </button>
{% endif %}

{% stylesheet %}
  .gdr-modal__button {
    padding: 12px 0;
    border-radius: 25px;
    font-weight: 700;
    font-size: 18px;
    text-decoration: none;
    transition:
      box-shadow 0.3s ease,
      transform 0.3s ease;
    cursor: pointer;
    border: none;
  }

  .gdr-modal__button--confirm {
    background-color: var(--button-bg);
    color: var(--button-text);
    border: 2px solid #0c2340;
    box-shadow: -4px 4px #0c2340;
    text-shadow: -2.75px 2.75px #0c2340;
    -webkit-text-stroke: 1px #0c2340;
  }

  .gdr-modal__button--confirm:hover {
    box-shadow: 0 0 0 #0c2340;
  }

  .gdr-modal__button--dismiss {
    background: transparent;
    color: #0c2340;
    border: none;
    text-decoration: underline;
    font-size: 18px;
    font-weight: 700;
  }

  .gdr-modal__button--bold {
    font-weight: 700;
  }

  .gdr-modal__button--uppercase {
    text-transform: uppercase;
  }
{% endstylesheet %}
